<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="color: #536872;text-align: center">Добавление аренды</h1>
<form th:action = "${'/Add/arenda'}" method="post">
    <label> Дата начала аренды</label>
    <input  style="text-align: center; margin-bottom: 20px"  type="date" name="datenachala">
    <label> Улица</label>
    <input   style="text-align: center;margin-bottom: 20px"   type="text" name="street" >

    <label> Номер договора</label>
    <input type="text"style="text-align: center;margin-bottom: 20px"    maxlength="1" size="25" name="nomerdogovora">
<form>
    <label> Город</label>
<select style="margin-bottom: 20px" name="сity" >
    <div th:each="element : ${city}">
        <option th:text="${element.city}"></option>
    </div>
</select>
</form><br>
    <button style="color: #415159; size: 50px; border:#000000;  background:#91B6C7;height: 30px;width: 300px;alignment: center;position: center;left: -80%;transform: translate(80%,0)" type="submit"> Добавить аренду</button>

</form>
<form th:action = "${'/MainArenda'}" method="post"  >
    <button style="color: blueviolet;height: 20px;width: 150px" type="submit"> Назад</button>
</form><br>

</body>
</html>