<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action = "${'/Add/personal'}" method="post"  >
    <button style="color: blueviolet;height: 20px;width: 150px"  type="submit"> Добавить студента</button>
</form>
<table>
    <div th:each="el : ${personal}">
        <h3  th:text="${el.getSurname()}" ></h3>
        <p th:text="${el.getName()}"></p>
        <p th:text="${el.getMiddlename()}"></p>
        <a style="color: #6E00EB"  th:href="'/Stud/' + ${el.id}"> Личная информация студента </a>
    </div>
</table>
</body>
</html>